/* RESET */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* TYPO */

body {
    font-family: 'Lato', sans-serif;
    color:#fff;
    font-size: clamp(8px, 0.9vw, 16px);
}

/* COMMON */

body {
    height:100vh;
    background-color: black;
}

a {
    text-decoration: none;
    color:#fff;
}

i {
    color:#fff;
    display: block;
}

.container {
    width: 90%;
    margin: auto;
    padding-top:50px;
    overflow-y: auto;
}

.row {
    display:flex;
    flex-wrap: wrap;
}

/* BUTTONS */

.speaker, .arrows {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: clamp(8px, 0.9vw, 16px);
}

/* HEADER */

header {
    text-align:right;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}

/* MAIN */

.col {
    width: calc(100% / 7 - 20px);
    margin: 10px;
}

.video {
    position: relative;
}

.preview {
    width: 100%;
    display: block;
}

.testo {
    height: 15%;    
    position: absolute;
    bottom: 0;
    left: 0;
}

.mic-muted {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    height: 10%;
    background-color: #222222; 
    font-size: clamp(8px, 0.9vw, 16px);
    font-weight: 300;
}

.controls-left {
    width:20%;
    display: flex;
    align-items: center;
}


.mute {
    width: 20%;
    text-align: center;
}

.stop {
    width: 20%;
    text-align: center;
    margin-left: 20px;
}

.chevron {
    text-align: center;
    width: 5%;
}

.controls-center {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-mod {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0 10px;
}

.list-mod-chevron {
    position: relative;
}

.square-chevron {
    position: absolute;
    bottom: 46%;
    right: 2%;
}

.fa-share-square {
    color: #4bc800;
}

.controls-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.fa-angle-up {
    margin-top: 20px;
}

.listflex {
    display: flex;
}

.fas {
    margin-bottom: 5px;
}

.end {
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 100%;
    background-color: #4a4a4a;
    text-align: center;
    color:red;
    padding: 0 20px;
}


